footer {
    padding: 4rem;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-size: clamp(0.8rem, 1vw, 1.8rem);

}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer label {
    font-weight: 700;
    color: #407BFF;
}