footer {
    padding: 4rem;
    box-sizing: border-box;
    display: grid;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    font-size: clamp(0.8rem, 1vw, 1.8rem);
}

footer .newsletter {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: #263238;
    border-radius: 1em;
    color: white;
}

footer .newsletter>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .newsletter>div input {
    background: rgba(161, 161, 161, 0.171);
    padding: 0.6em 1em;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 60px;
    color: white;
}

footer .newsletter>div button {
    color: white;
    background-color: #407BFF;
    padding: 0.6em 1em;
    outline: none;
    border: none;
    font-weight: 600;
    border-radius: 60px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer label {
    font-weight: 700;
    color: #407BFF;
}