.home {
    min-height: 100vh;
    align-items: center;
    display: flex;
    gap: 4rem;
    padding: 0 2rem;
    justify-content: space-evenly;
}

.home .colm {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.home .colm h1 {
    text-transform: capitalize;
    font-size: calc(20px + 2vw);
    line-height: calc(30px + 2vw);
    font-weight: 800;
}

.home .colm h1 span {
    color: #595bdf;
}

.home .colm p {
    line-height: 1.8rem;
}

.home .colm button {
    width: max-content;
    outline: none;
    border: none;
    padding: 12px 34px;
    background-color: #595bdf;
    color: #fff;
    border-radius: 26px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 24px;
}

.social-links img {
    width: 120px;
}

.home-img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

@media screen and (max-width: 600px) {
    .home {
        flex-direction: column;
    }

    .home .colm {
        width: 95%;

    }
}