.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 8px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.navbar ul {
    display: inline-flex;
    align-items: center;
    gap: 4rem;
}

.navbar ul li {
    text-align: center;
    list-style-type: none;

}

.navbar ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 8px 18px;
    border-radius: 26px;
}

.navbar ul li a>ion-icon {
    font-size: 18px;
}

.logo {
    width: 44px;
    height: 44px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #6366f1;
    outline: 2px solid #6365f1c7;
}

.nav-right-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.expand-menu {
    display: none;
}

ion-icon[name="menu"] {
    height: 40px;
    width: 40px;
    font-size: 24px;
}

.toggle-theme-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 800px) {
    .navbar ul {
        padding: 1rem;
        order: 3;
        width: 100%;
        display: none;
        flex-direction: column;
        border-radius: 12px;
        gap: 2rem;
    }

    .expand-menu {
        display: inline;
    }

}