.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    overflow: hidden;
    min-height: 100vh;
}

.grid:nth-child(odd) {
    direction: rtl;
}

.grid:nth-child(odd)>.grid-item {
    direction: ltr;
}

.grid-item {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.center-grid-item {
    align-items: center;
}

.grid .grid-item h1 {
    text-transform: capitalize;
    font-size: clamp(2rem, 3.4vw, 4.6rem);
    font-weight: 800;
}

.grid .grid-item h1 span {
    color: #407BFF;
}

.grid .grid-item p {
    font-size: clamp(0.8rem, 1vw, 1.8rem);
    line-height: clamp(1.8rem, 2vw, 2.8rem);
}

.grid .grid-item button {
    width: max-content;
    outline: none;
    border: none;
    padding: 1em 1.4em;
    background-color: #407BFF;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    font-weight: 500;
    font-size: clamp(0.8rem, 1vw, 2rem);
    letter-spacing: 1px;
    cursor: pointer;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}

.social-links a {
    display: flex;
    align-items: center;
    background: rgba(161, 161, 161, 0.171);
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: clamp(0.8rem, 1vw, 1.8rem);
}

.social-links a:hover {
    background-color: #407BFF;
    color: aliceblue;
}

.grid-item figure {
    height: 100%;
    width: 100%;
}

.grid-item figure img {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
    cursor: pointer;
}

.grid-item figcaption {
    text-align: center;
    font-weight: 300;
    padding-top: 0.25em;
    font-size: clamp(0.8rem, 1vw, 1.8rem);
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}