.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.8em;
}

.nav-menu {
    display: inline-flex;
    align-items: center;
    gap: 4rem;
}

.navbar ul li {
    text-align: center;
    list-style-type: none;

}

.navbar ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: small;
}

.logo {
    height: 2em;
    width: 2em;
    object-fit: contain;
    border-radius: 50%;
    border: 2px solid #407BFF;
    outline: 2px solid #407BFF;
}

.nav-right-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.expand-menu {
    display: none;
}

ion-icon[name="menu"],
ion-icon[name="close-circle-outline"] {
    width: clamp(2rem, 3vw, 4rem);
    height: clamp(2rem, 3vw, 4rem);
    font-size: clamp(1.4rem, 2vw, 3rem);
}

.toggle-theme-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding: 0.2em;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rotation {
    animation: rotation 10s infinite linear;
}

.mobile-menu {
    /* min-height: 100vh; */
    padding: 1rem;
    order: 3;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 2rem;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media screen and (max-width: 800px) {
    .nav-menu {
        display: none;
    }

    .expand-menu {
        display: inline;
    }

}