.social-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}

.social-links a {
    display: flex;
    align-items: center;
    background: rgba(161, 161, 161, 0.171);
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: clamp(0.8rem, 1vw, 1.8rem);
}

.social-links a:hover {
    background-color: #407BFF;
    color: aliceblue;
}

