.toolsComponent {
    width: 100%;
}

.toolsHolder {
    max-width: 1900px;
    margin: 0 auto;
    padding: 1em;
}

.toolsHolder h1 {
    font-size: 1.4rem;
    line-height: 4rem;
}

.toolsLayout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.tool {
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    gap: 1.4em;
}

.tool img {
    width: 3em;
    height: 3em;
    object-fit: contain;
}

.tool .aboutTool label {
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: bold;
}

.tool .aboutTool p {
    text-align: justify;
}