* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body,
html {
    max-width: 2800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.bg-light {
    background-color: rgb(255, 255, 255);
    transition: 1s;
}

.bg-dark {
    background-color: #1F2937;
    transition: 1s;
}

.text-light {
    color: rgba(255, 255, 255, 0.911);
    transition: 1s;
}

.text-yellow {
    color: rgb(255, 235, 53);
    transition: 1s;
}

.text-xtra-light {
    color: #1f2937a1;
    transition: 1s;
}

.text-xtra-dark {
    color: #dddddda1;
    transition: 1s;
}

.text-dark {
    color: #1F2937;
    transition: 1s;
}

.active {
    color: white;
    background-color: #407BFF;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 16px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}