* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

body,
html {
    height: 100%;
}

:root {
    --white: rgb(255, 255, 255);
    --black: #050505;
    --dark-gray: rgb(31, 31, 31);

    --light-mode-primary-bg: rgb(255, 255, 255);
    --light-mode-secondary-bg: rgb(230, 230, 230);

    --light-mode-primary-txt: #1F2937;
    --light-mode-secondary-txt: #1F2937A1;

    --dark-mode-bg: #151515;
    --dark-mode-primary-txt: #FFFFFFE8;
    --dark-mode-secondary-txt: #DDDDDDA1;

    --yellow: rgb(255, 235, 53);
    --accent: #407BFF;
}

a {
    color: unset;
    text-decoration: none;
}

.bg-light {
    background-color: var(--light-mode-primary-bg);
    transition: 1s;
}

.bg-dark {
    background-color: var(--dark-mode-bg);
    transition: 1s;
}

.bg-slight-dark {
    background-color: var(--dark-gray);
    transition: 1s;
}

.bg-extra-dark {
    background-color: var(--black);
    transition: 1s;
}

.text-light {
    color: var(--dark-mode-primary-txt);
    transition: 1s;
}

.text-yellow {
    color: var(--yellow);
    transition: 1s;
}

.text-xtra-light {
    color: var(--light-mode-secondary-txt);
    transition: 1s;
}

.text-xtra-dark {
    color: var(--dark-mode-secondary-txt);
    transition: 1s;
}

.text-dark {
    color: var(--light-mode-primary-txt);
    transition: 1s;
}

.primary-btn {
    width: max-content;
    outline: none;
    border: none;
    padding: 1em 1.4em;
    background-color: #407BFF;
    color: #fff;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    font-weight: 500;
    font-size: small;
    letter-spacing: 1px;
    cursor: pointer;
}

.secondary-btn {
    outline: none;
    border: none;
    padding: 0.50em 1em;
    font-size: 0.8rem;
    border-radius: 2rem;
    margin-top: 1em;
    font-family: inherit;
    background-color: #4D38F7;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

/* Active Class */
.active {
    color: var(--white);
    background-color: var(--accent);
}

/* Layouts */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    overflow: hidden;
}

.grid:nth-child(odd) {
    direction: rtl;
}

.grid:nth-child(odd)>.grid-item {
    direction: ltr;
}

.grid-item {
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.center-grid-item {
    align-items: center;
}

.tokens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 18px;
}

.token {
    display: flex;
    align-items: center;
    background: rgba(161, 161, 161, 0.171);
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: clamp(0.8rem, 1vw, 1.8rem);
}

.token:hover {
    background-color: #407BFF;
    color: aliceblue;
}

/* Topograpghy */
h1 {
    text-transform: capitalize;
    font-size: xxx-large;
    font-weight: 800;
}

h1 span {
    color: var(--accent);
}

p {
    font-size: smaller;
    line-height: 1.8em;
}

figure {
    height: 100%;
    width: 100%;
}

figure img {
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
    cursor: pointer;
}

figcaption {
    text-align: center;
    font-weight: 300;
    padding-top: 0.25em;
    font-size: smaller;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 16px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}