* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body,html {
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

.bg-light {
    background-color: #ffff;
    transition: 1s;
}

.bg-dark {
    background-color: #1F2937;
    transition: 1s;
}

.text-light {
    color: #ffff;
    transition: 1s;
}

.text-xtra-light {
    color: #1f2937a1;
    transition: 1s;
}
.text-xtra-dark {
    color: #dddddda1;
    transition: 1s;
}
.text-dark {
    color: #1F2937;
    transition: 1s;
}

.active {
    background-color: #407BFF;
}